/* Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    /* HTML khai báo font-size là 10px , khi dùng rem trình duyệt sẽ hiểu 1rem = 10px */
    /* Khi ko khai báo font-size thì 1rem = 16px */
    /* font-size dùng đơn vị rem */
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}


/* header */

.header {
    padding: 2rem 0;
    background-color: #4e2a84;
    letter-spacing: 0.2rem;
}

.header__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    /* Thêm cho th cha cho th con lên trên 1 hàng */
    /* justify-content canh chỉnh th con  */
    justify-content: space-around;
    /* chia đều khoảng cách các con*/
    align-items: center;
    /* canh các con theo chiều dọc */
}

.header__p {
    color: white;
    font-size: 4rem;
}


/* nav */

.header__nav ul {
    list-style: none;
}

.header__nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem
}

.header__nav ul li {
    display: inline;
    margin: 2rem;
    font-weight: 600;
}

.header__nav a:hover {
    color: #ff0e83;
    transition: all .5s;
}

.header__active a {
    color: #ff0e83 !important;
}


/* carousel */

.carousel {
    background-image: url("../img/b3.jpg");
    height: 70rem;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content {
    text-align: center;
    color: white;
}

.carousel__content h1 {
    font-size: 5rem;
}

.carousel__content p {
    font-size: 2rem;
    margin-top: 1rem
}

.carousel__content button {
    padding: 13px 32px;
    margin-top: 2rem;
    background-color: #ff0e83;
    border-radius: 5px;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
}

.carousel__content button:hover {
    background-color: white;
    color: black;
    transition: all .5s;
}


/* intro */

.intro {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%;  tương đương cách dưới*/
    /* grid-template-columns: repeat(4,25%); */
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10rem;
}

.intro__items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro__wrapper {
    width: 80%;
    margin: 0px auto;
}

.intro__ab1 {
    /* grid-column: 2 / 4; */
    grid-column: 2 / span 2;
}

.intro__bake {
    /* grid-column: 1 / 3; */
    grid-column: 1 / span 2;
}

.intro__ab4 {
    /* grid-column: 3 / 5 ; */
    grid-column: 3 / span 2;
}

.intro__items img {
    width: 100%;
    display: block;
}

.intro__h3 {
    font-size: 2.7rem;
    color: white;
    margin-bottom: 1.5rem;
}

.intro__items p {
    color: #c1c1c1;
    font-size: 1.4rem;
}

.intro__items:first-child,
.intro__items:nth-child(8) {
    background-color: #4e2a84
}

.intro__items:nth-child(3) {
    background-color: #FF0E83;
}

.intro__items:nth-child(4) {
    background-color: #ED6498
}

.intro__items:nth-child(6) {
    background-color: #836EAA;
}


/* number */

.number__content {
    margin: 0 auto;
    width: 75%;
    height: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.number__items {
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.4rem;
    color: #000;
}

.number__items p:first-child {
    color: #4e2a84;
    margin-bottom: 15px;
    font-size: 3.5rem;
}


/* service */

.service {
    padding: 5rem 0;
    background-image: url("../img/s1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__h2 {
    text-align: center;
    color: #fff;
    font-size: 5.0rem;
    margin-bottom: 50px
}

.service__content {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    text-align: center
}

.service__items h3 {
    font-size: 2.6rem;
    margin-bottom: 15px
}

.service__items p {
    font-size: 1.4rem;
    margin-bottom: 15px;
    font-weight: 500
}

.service__items i {
    width: 11rem;
    height: 11rem;
    border: 1px solid #4e2a84;
    background-color: white;
    border-radius: 50%;
    font-size: 6.0rem;
    line-height: 11rem;
    color: #4e2a84;
    margin-bottom: 2.0rem;
}

.service__items i:hover {
    color: #ff0e83;
    transition: all .5s;
}

.service__items button {
    padding: 13px 32px;
    margin-top: 2rem;
    background-color: #ff0e83;
    border-radius: 5px;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
}

.service__items button:hover {
    background-color: white;
    color: black;
    /* transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transition-delay: 0 */
    transition: all .5s;
}


/* gallery */

.gallery__h2 {
    text-align: center;
    font-size: 5.0rem;
    font-weight: 600;
    margin: 50px
}

.gallery__content {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
}

.gallary__g1 {
    grid-column: 1 / span 2;
}

.gallary__g6 {
    grid-column: 3 / span 2;
}

.gallery__items img {
    width: 100%;
    height: 100%;
    display: block;
}

.gallery__items {
    position: relative;
    overflow: hidden;
    /* Che phần con khi nó vượt ra ngoài border thẻ cha */
}

.gallery__text {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 50px;
    text-align: right
}

.gallery__text p {
    position: absolute;
    bottom: 20px;
    right: 5px;
    transition: all 0.5s;
    transform: translateY(55px);
    color: white;
    opacity: 0;
}

.gallery__items:hover .gallery__text p {
    transform: translateY(0);
    opacity: 1;
}

.gallery__text h2::after {
    content: '';
    /* bắt buộc phải có Content để before vs after hiển thị */
    display: block;
    /* phải có để set width height */
    height: 3px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    transform: translateY(45px);
    /* Chưa hover */
    transition: all 0.5s;
    opacity: 0;
}

.gallery__text h2 {
    transition: all 0.5s;
}

.gallery__items:hover h2 {
    transform: translateY(-30px);
}

.gallery__items:hover h2::after {
    transform: translateY(0);
    opacity: 1;
}


/* team */

.team {
    padding: 50px 0;
    background-color: #4e2a84;
    margin-top: 5rem
}

.team__h2 {
    text-align: center;
    font-size: 5rem;
    color: white;
}

.team__items img {
    width: 100%;
    display: block;
    height: 100%;
}

.team__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    margin: 0 auto;
    color: white;
    grid-gap: 3rem;
    margin-top: 4rem;
    font-size: 1.8rem
}

.team__items {
    position: relative;
}

.team__bgpink {
    position: absolute;
    /* sau khi dùng  position: absolute sẽ mất width và height nên phải set lại cho nó */
    background-color: #FF0E83;
    width: 100%;
    padding: 30px;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: all 1s
}

.team__items:hover .team__bgpink {
    opacity: 0;
}

.team__bgblack {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 1s
}

.team__items:hover .team__bgblack {
    opacity: 0.8;
}

.team__bgblack h3 {
    margin-top: 150px;
    margin-left: 15px
}

.team__bgblack p {
    margin-top: 10px;
    margin-left: 15px
}

.team__items2 {
    overflow: hidden;
    /* cho ở th cha */
}

.team__items2 .team__bgblack {
    opacity: 0;
    transform: translateX(-110%);
    transition: all 1s
}

.team__items2:hover .team__bgblack {
    opacity: 0.8;
    transform: translateX(0);
}

.team__items3 .team__bgblack {
    transition: all 1s;
    transform: rotateX(0);
}

.team__items3:hover .team__bgblack {
    transform: rotate(360deg);
    /* xoay */
}

.team__items4 .team__bgblack {
    transition: all 1s;
    transform: scale(0)
    /* zoom */
}

.team__items4:hover .team__bgblack {
    transform: scale(1)
}


/* tes */

.tes {
    padding: 50px 0;
    background-image: url("../img/cc1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40rem;
}

.tes h2 {
    text-align: center;
    font-size: 5rem;
    color: white
}

.tes__content {
    width: 75%;
    margin: 0 auto;
    padding: 30px;
    border: 3px solid #ff0e83;
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
    background-color: rgba(205, 196, 187, 0.5)
}

.item i {
    color: #2cbeff
}